<!DOCTYPE html>
<html>
    <head>
        <title>Reset password</title>
        <link rel = "stylesheet" type="text/css" href="style.css">
        
    </head>
    <body>
        <div class = "container">
            <div class = "form_box">
                <h1> Forgot password </h1>
                <input type="text" class="txt-mail" placeholder="Email">
                <input type="button" class="resetpd-btn" value="Send reset link">
             </form>
                
               
                
                
            </div>
        </div>
    </body>
</html>